<!-- FILE:main_links.htm -->
<!-- <a href="${BASE_URL}$NB_INDEX">$template_main</a><br /> -->
<a href="${BASE_URL}NeilSmithline">Resume</a><br/>
<a href="https://github.com/Neil-Smithline">Github</a><br/>
<a href="http://www.linkedin.com/profile/view?id=2519386">LinkedIn</a><br/>
<a href="https://www.facebook.com/neil.smithline">Facebook</a><br/>
<a href="https://plus.google.com/104257546204106753046">Google+</a><br/>
<a href="${BASE_URL}archives/2012/03/23/my_bookmark_tag_cloud">My Bookmarks</a><br/>
<a href="${BASE_URL}archives/2012/02/21/my_patents">My Patents</a><br/>
<a href="https://github.com/Neil-Smithline/UserScripts">My UserScripts</a><br/>
<!-- 
<a href="url">description</a><br/>
 -->
